<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.1/phpunit.xsd"
    colors="true"
    stopOnFailure="true"
    bootstrap="../vendor/autoload.php"
    cacheDirectory=".phpunit.cache"
    displayDetailsOnTestsThatTriggerWarnings="true"
>
  <testsuites>
    <testsuite name="Neu unit tests suite">
      <directory>../tests/</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <source>
    <include>
      <directory>../src</directory>
    </include>
  </source>
</phpunit>
